{% extends 'pages/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>IvyMesh - Admin Directory</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container overflow-hidden text-center">
            <header>
                <h1><a href="#">IvyMesh - Admin Directory</a></h1>
            </header>
        </div>

        <div class="container overflow-hidden text-center">
            <div class="card">
                <div class="card-body">
                        <ul class="list-group">
                            {% for adminuser in adminusers %}
                            <li class="list-group-item">
                                <div>
                                    <h2><p>{{ adminuser.username|linebreaksbr }}</p></h2>
                                    <h3><a href="mailto:{{ adminuser.email }}">{{ adminuser.email }}</a></h2>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>

