{% extends 'pages/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
        <title>IvyMesh - Schedule</title>
    {% endblock %}
</head>
<body>
    {% block body_title %}
    IvyMesh - Calendar
    {% endblock %}

    {% block content %}
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    {% endblock %}
</body>
</html>

